/* Selectores
Para hacer referencias a class en HTML se usa un punto (.)
Para hacer referencia a un id se usa un gato (#) */

@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #071952;
    color: #FFF0CE;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: 'Lilita One', sans-serif;
    color: white;
    font-size: 32px;
}

.subtitulo{
 color: white;
 font-size: 22px;
}


.tarjetas{
    display: flex;
    gap: 10px; /*espaciado*/
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.tarjeta-de-mokepon{
    width: 200px;
    height:100px;
    background: #088395;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.tarjeta-de-mokepon img{
    width: 80px;
}

#btn-mascotas{
    width: 180px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.pagina-ataques{
    display:grid;
    grid-template-columns: 440px 270px;
    justify-items: center;
    align-items: start;
}

.ataques-y-mensaje{
    display: grid;
    grid-template-rows: 160px 124px;
    align-items: center;
    justify-items: center;

}

#seleccionar-ataque{
    flex-direction: column;
    align-items: center;

}

.boton-de-ataque{
    background-color: #088395;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border-color: transparent;
    width: 120px;
    color: white;
    font-family: 'Poppins', sans-serif;
}

#mensajes{
    display: flex;
    width: 280px;
    background-color: #FFF0CE;
    color: #071952;
    padding: 20px;
    margin: 60px 0px 30px 0px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

#btn-reiniciar{
    border: none;
    background-color: transparent;
    color: #0174BE;

}

.batalla{
    display:grid;
    grid-template-columns: 100px 100px;
    justify-items: center;
    align-content: center;
}

.batalla img{
    width: 80px;
}

#vida{
    width: 24px;
    height: 20px;
}

#vida-jugador, #vida-enemigo{
    font-size: 32px;
    justify-content: center;
    color: #FFC436;
}

input {
    display: none;
}

input:checked + label{
    background-color: #FFC436;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 360px){
    .tarjetas{
        flex-direction: column;
    }

    .boton-de-ataque{
        width: 90px;
    }

    .pagina-ataques{
        grid-template-columns: none;
        grid-template-rows: 300px 300px;
    }
}

